*{
    box-sizing: border-box;
    font-family: pablo;
}
@font-face {
    font-family: pablo;
    src: url(../img/grassy/fuente.woff);
}
body{
    padding: 0;
    margin: 0;
}

.wrapper{
    width: 100%;
}

.fluid{
    width: 100%;
}
.container{
    max-width: 1024px;
    margin: auto;
    display: block;
    text-align: center;
    
}

.fixed{
    position: fixed;
    top: 0;
}

div.header{
   background-color:rgba(22, 160, 133, 0.7) ; 
   
}

nav ul{
    list-style: none;
    margin: 0;
}
nav li{
    display: inline-block;
    margin: 0px 50px
}
nav a {
    list-style: none;
    display: block;
    text-decoration: none;
    color: white;
    padding: 20px;
    
    font-size: 1.5rem;
}

.titulo{
    background-color: #333333;
    color: white;
    padding: 150px;
}
h1{
    margin: 0;
    font-weight: 200;
    font-size: 5rem;
    
}

.gras{
    background-image: url(../img/grassy/pic01.jpg);
    height: 500px;
}

.body-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.h2-green{
    color: #16a085;
}

section p, footer p{
    text-align: left;
}
.fo-gray{
    background-color: #1e1b1a;
}
.fo-green{
    background-color: #16a085;
}

.ul-nav{
    list-style: none;
}

.ul-nav li, .fo-nav li {
    display: block;
    text-align: justify;
    color: white;
    width: 100%;
    padding: 5px;
}
.ul-nav a {
    
    text-align: justify;
    text-decoration: underline;
    color: black
}
.fo-nav a, footer p {
    text-align: justify;
    color: #627084;
}
section h2, h3{
    text-align: left;
}
.section{
    padding: 50px 10px;
}

.white{
    color: white;
    font-weight: bold;
}

.fo-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.legal-box{
    padding: 85px;
}

.legal-parraf{
    margin: 0;
}