img{
    width: 70px;
    height: 70px;
    margin: auto;
    display: block;
}

.container{
    margin: auto;
    width: 1080px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
}