@font-face {
    font-family: pablo fuente;
    src: url(../fuente/fuente.ttf);
}

h1{
    font-family: pablofuente;
}

div{
    height: 120px;
    border-width:30px;
    border-style: solid;
    border-image: url(../img/border.png) 30 30 stretch;
    font-family: Arial, Helvetica, sans-serif;
    transition: 2s;
}

div:hover{
    background-color: rgb(23, 24, 24);
    color: white;
    font-weight: bold;
    border-radius: 30px;
    transition: 0.5s;
}